.Detail{
    background-image: url('./backDetail.jpg');
    height: 900px;
}


.imgDetail{
    width: 800px;
    height:650px;
    border-radius: 7px;
    margin-left: 20px;
    box-shadow: 0 5px 10px;
    margin-right: 20px;
}
.cardDetail{
    margin-left: 80px;
    margin-top: 50px;
}
.DetailContainer{
    display:flex;
    justify-content:flex-start
}

.info{
    margin-left: 100px;
    border-radius:7px;
    box-shadow: 0 5px 10px;
    background-color:#62789c;
    width: 600px;
    height: 650px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top:50px;
}
.info2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color:white;
}
.info h1{
    color:white
}
.detailtemp{
    margin-left: 38px;
}
.separador{
    height: 200px;
    width: 100%;
    
}