.containerall{
  display: flex;
  justify-content: center;
  background-color:#ede9e8;
  background-image: url('./background.jpg');

}
.container-card{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    margin:40px;
}

.paginado{
    display:flex;
   justify-content:center;
   background-color:#f5ab62;
   border-top: 3px black solid;
   
}




  .filtros{
    display:flex;
    justify-content:center;
    height:100px;
    align-items:center;
    background-color: #f5ab62;
    border-bottom: 3px black solid
  }
  .searchdog{
    display:flex;
    justify-content:center;
    background-color:#f5ab62;
  }
  .contSearch{
    margin-top:15px
  }
  .selects{
    background-color:white;
    border-radius: 7px;
    
  }
  .loadhome{
    display:grid;
    grid-column-end:3;
    margin-left: 320px;
    color:#11ce1d
  }
 