.card1 h1{
display:flex;
justify-content: center;

}


.inputs{
    margin: 4px;
    border-radius: 7px;
}
.input{
    border-radius: 7px;
}


.Button {
    background-color: #62789c;
    border: none;
    border-radius: 7px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:5px;
    margin-left: 10px;
    transition: transform .2s;
    margin-top:5px;
}
.Button:hover{
    background-color:#fff3e7;
    color:rgb(21, 16, 16);
    transform: scale(1.3);
   
}

.temcontainer{
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column;
}
.temcontainer select{
    margin-right: 80px;
    margin-left: 80px;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 500px;
    background-image: url('./BackgroundForm2.jpg');
    background-color:#e8dad9;
    border-radius:7px;
    box-shadow: 0 5px 10px;
    margin-top: 50px;
 
 
}
.box{
    background-image: url('./Form1.jpg');
    width:100%;
height:600px;
border-radius: 7px;
display: flex;
    justify-content: center;
}

.delete{
   width:120px;
   height:60px;
   margin-left:10px;
    background-color:#042e44;
    color:white;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.delete button{
height: 20px;
color:white;
background-color:#62789c;
}

.delete button:hover{
    color: #62789c;
    background-color:white
}

.tempCont{
display:flex;
justify-content:center;
}
.bot{
    width: 250px;
    background-color: #fff3e7;
    transition: transform .2s;
    border-radius:7px;
    margin-top: 25px;
}
.bot:hover{
    background-color:#042e44;
    color:white;
    transform: scale(1.5);
}

p{
    color:red;
    font-weight:bold;
}
.error{
    color:#62789c;
   
}